/*add new font*/
@font-face {
	font-family: "actionis.ttf";
	src: url("../Font/actionis/actionis.ttf") format('truetype');
	
	}

/*style title and adds background image in the page header*/
h1 {
	font-family: 'actionis.ttf';
	font-size: 80px;
	color: #ff7d00;
	text-shadow: 2px 3px #222222;	
}

.page-header {
	background-image: url(../Images/film-roll.png);
	margin: 15px 25px 10px 25px;
	border-bottom: 0 none;
}

/*jumbotron to hold gifs*/
.jumbotron {
	background-color: #ff944d;
	box-shadow: 0 18px 26px -6px #222222;	
}

/*fonts for rating*/
p {
	font-family: 'actionis.ttf';
	font-size: 20px;
	padding-top: 10px;
	color: #ffffff;
	text-shadow: 2px 3px #222222;
}

/*color and style to the gif buttons*/
.btn-info {
	background-color: #ff7d00;
	border: #e9f1ff;
	box-shadow: 0 10px 20px -7px #222222;
}
.btn-info:hover {
	background: #ffbf80;
}

.btn-toolbar {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 25px;
}

/*style to 'add a gif textbox'*/
input#gif-input {
	border-style: solid;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-width: 2px;
	background-color: lightgrey;
	text-align: center;
	margin-bottom: 5px
}

form#gif-form {
	text-align: center;
	padding-bottom: 10px;
    margin-bottom: 5px;
}

/*Add some style to images*/
img {
	border-radius: 25px;
	box-shadow: 0 15px 35px -6px #ffffff;
}